# Environment variables
.env

# Dependencies
node_modules/
__pycache__/
*.pyc

# Temporary files
uploads/
.turbo/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.swp
*.swo